<label>Server Name</label>
<!--<input type="text" class="form-control" (input)="onUpdateServerName($event)" placeholder="Not 2 way binded">-->
<input type="text" class="form-control" [(ngModel)]="serverName" placeholder="2-Way-Binded"><!--2-way Binding-->
<!--<p> {{serverName}} </p>-->
<button 
  class="btn btn-primary" 
  [disabled]="!allowNewServer"
  (click)="onCreateServer()"
  >Add Server</button> <!--Property Binding -->
<!--<p>{{serverCreationStatus}}</p>-->
<p *ngIf="serverCreated">Server was created, server name is {{serverName}}</p>


<!--<ng-template #noServer>
  <p>No Server was created :(</p>
</ng-template> include else with if statement-->
<app-server *ngFor="let server of servers; let i = index"></app-server>